<aol-map [width]="'100%'" [height]="'100%'">
	<aol-view [zoom]="zoom">
		<aol-coordinate [x]="5" [y]="45" [srid]="'EPSG:4326'"></aol-coordinate>
	</aol-view>
	<aol-layer-tile [opacity]="opacity">
    <aol-source-osm></aol-source-osm>
	</aol-layer-tile>

  <aol-layer-vector [opacity]="0.5" id="drawLayer">

    <aol-source-vector #tzPrimarySource>
      <aol-style #tzPrimaryStyle [fill]="zoneFill" [stroke]="zoneStroke"></aol-style>
      <aol-interaction-draw *ngIf="!enableModification" type="Polygon" (drawend)="zoneCreated($event)"
                              [source]="tzPrimarySource.instance"
                              [features]="features"
      >
        </aol-interaction-draw>
      <aol-interaction-snap [features]="features" [source]="tzPrimarySource" [pixelTolerance]="50"></aol-interaction-snap>
      <aol-interaction-modify *ngIf="enableModification" [features]="features"
                              (modifystart)="zoneModifyStart($event)"
                              (modifyend)="zoneModifyEnd($event)"></aol-interaction-modify>
    </aol-source-vector>
  </aol-layer-vector>
</aol-map>

<span>opacity:</span><button (click)="increaseOpacity()">+</button><button (click)="decreaseOpacity()">-</button><br>
<span>zoom:</span><button (click)="increaseZoom()">+</button><button (click)="decreaseZoom()">-</button><br>
<span>Modify ?:</span><button (click)="enableModification = !enableModification">Toggle Modification</button><br>
